
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 128, 0, 0.458);
    text-align: center;

    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;

    z-index: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    background-color: white;
    padding: 20px;
    width: 200px;
    margin: 100px auto;
    border-radius: 10px;
}

input, select, button {
    margin: 12px;
    padding: 20px;
    width: 70%;
}

button {
    background-color: rgb(5, 1, 1);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 45px;
}

button:hover {
    background-color: rgb(48, 132, 104); 
    color: white;
}

/*#currencyBilder {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 10px auto;
    transition: opacity 0.3s ease;
}
*/
#bg {
    position: fixed;
    inset: 0; /* tydelig vis bedre enn å bruke top/left/bottom osv*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0f1720;
    z-index: -2;
    opacity: 0;
    transition: opacity 0.6s ease, background-image 0.6s ease;
}


#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: -1;
} 

.container{
    position: relative;
    z-index: 1;
}