
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 128, 0, 0.458);
    text-align: center;
}

.container {
    background-color: white;
    padding: 20px;
    width: 200px;
    margin: 100px auto;
    border-radius: 10px;
}

input, select, button {
    margin: 12px;
    padding: 20px;
    width: 70%;
}

button {
    background-color: rgb(5, 1, 1);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 45px;
}

button:hover {
    background-color: rgb(48, 132, 104); 
    color: white;
}