
body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    overflow-x: hidden;

    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255,255,255,0.95);

    padding: 25px;
    width: 350px;
    max-width: 90%;

    margin: 80px auto;

    border-radius: 14px;

    box-shadow: 0 12px 35px rgba(0,0,0,0.25);

    backdrop-filter: blur(10px);

    position: relative;
    z-index: 1;

    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input,
select,
button {

    margin: 10px 0;
    padding: 12px;

    width: 90%;

    border-radius: 8px;
    border: 1px solid #ddd;

    outline: none;

    transition: 0.2s;
}

input:focus,
select:focus {

    border-color: #2c5364;

    box-shadow: 0 0 5px rgba(44,83,100,0.4);
}

button {

    background: #0f2027;
    color: white;

    border: none;

    cursor: pointer;
}

button:hover {

    background: rgb(48, 132, 104);

    transform: scale(1.03);
}

#bg {

    position: fixed;
    inset: 0;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #0f1720;

    z-index: -2;

    opacity: 0;

    transition:
        opacity 0.6s ease,
        background-image 0.6s ease;
}

#overlay {

    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.35);

    z-index: -1;
}